.door-container {
    display: flex;
    flex-direction: column;
    /*width: 30%;*/
    margin-right: 2vw;
    height: 50%;
    padding: 2vh;
    border-radius: 3vh;
    background-color: lightgrey;
}

.door-lbl {
    font-size: 1.5vh;
    margin-bottom: 0.5vh;
}

.door-btn-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.door-status-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
    width: 100%;
    height: 4vh;
    align-content: center;
}

.door-status-div {
    display: flex;
    height: 80%;
    width: 30%;
    text-align: center;
    border-radius: 4vh;
    align-items: center;
    justify-content: center;
    font-size: 1.7vh;
}
